<!-- loader -->
<div class="loader">
    <div class="lds-ripple">
        <div></div>
        <div></div>
    </div>
</div>
<!-- icon-menu -->
<div class="icon-menu" id="open">
    <img src="assets/icones/menu.svg" alt="menu">
</div>

<!-- sidebar responsive -->
<div class="sidebar">
    <div class="icon-menu" id="close">
        <img src="assets/icones/close.svg" alt="menu">
    </div>
    <ul>
        <li>
            <a href="index.html">
                <i class="fa fa-home" aria-hidden="true"></i>
                <span>Home</span>
            </a>
        </li>
        <li class="item-active">
            <a href="about.html">
                <i class="fa fa-user" aria-hidden="true"></i>
                <span>About</span>
            </a>
        </li>
        <li>
            <a href="portfolio.html">
                <i class="fa fa-briefcase" aria-hidden="true"></i>
                <span>Portfolio</span>
            </a>
        </li>
        <li>
            <a href="contact.html">
                <i class="fa fa-envelope-open" aria-hidden="true"></i>
                <span>conatct</span>
            </a>
        </li>
    </ul>
</div>

<!-- navabr -->
<nav class="navigation navigation--pf">
    <ul>
        <a href="index.html">
            <li>
                <i class="fa fa-home" aria-hidden="true"></i>
                <div class="toll-tips">Home</div>
            </li>
        </a>
        <a href="about.html">
            <li>
                <i class="fa fa-user" aria-hidden="true"></i>
                <div class="toll-tips">About</div>
            </li>
        </a>
        <a href="portfolio.html">
            <li>
                <i class="fa fa-briefcase" aria-hidden="true"></i>
                <div class="toll-tips">Portfolio</div>
            </li>
        </a>
        <a href="contact.html">
            <li>
                <i class="fa fa-envelope-open" aria-hidden="true"></i>
                <div class="toll-tips">Contact</div>
            </li>
        </a>
    </ul>
</nav>

<div class="container">
    <div class="about">
        <div class="section-header">
            <h1 class="title-fade">Resume</h1>
            <h2 class="title-section">A propos de <span>moi</span></h2>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 mb-5">
                <h3>infos personnelles</h3>
                <div class="box-content">
                    <div class="box-info">
                        <div class="item d-flex">
                            <h4>Nom: </h4>
                            <span>Bah</span>
                        </div>
                        <div class="item d-flex">
                            <h4>prénom: </h4>
                            <span>ismaila</span>
                        </div>
                        <div class="item d-flex">
                            <h4>Age: </h4>
                            <span>20ans</span>
                        </div>
                        <div class="item d-flex">
                            <h4>nationnalité: </h4>
                            <span>guinéenne</span>
                        </div>
                    </div>
                    <div class="box-info">
                        <div class="item d-flex">
                            <h4>adresse: </h4>
                            <span>abidjan</span>
                        </div>
                        <div class="item d-flex">
                            <h4>téléphone: </h4>
                            <span>+22578618391</span>
                        </div>
                        <div class="item d-flex">
                            <h4>email: </h4>
                            <span>maelbah124@gmail.com</span>
                        </div>
                        <div class="item d-flex">
                            <h4>skype: </h4>
                            <span>mael124</span>
                        </div>
                    </div>
                </div>
                <a href="pdf/Charte_bonne_conduite.pdf"  download="Bah_Ismaila__CV" class="button">télécharger mon cv</a>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="card-feature">
                            <span>12</span>
                            <h2>ans d'expériences</h2>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="card-feature">
                            <span>52</span>
                            <h2>projets terminés</h2>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="card-feature">
                            <span>52</span>
                            <h2>clients heureux</h2>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="card-feature">
                            <span>5</span>
                            <h2>certifications</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="competence">
        <h3 class="titles">mes compétences</h3>
        <div class="row">
            <div class="col-6 col-sm-4 col-md-3 col-lg-3">
                <div class="card-skills">
                    <div class="circlechart position-relative" data-percentage="90"></div>
                    <div class="card-skills__progress">
                        <img src="assets/images/frontendfront-L.png" alt="frontendfront-L">
                    </div>
                    <span>90%</span>
                    <p>Html 5</p>
                </div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-lg-3">
                <div class="card-skills">
                    <div class="circlechart position-relative" data-percentage="85"></div>
                    <div class="card-skills__progress">
                        <img src="assets/images/frontendfront-L.png" alt="frontendfront-L">
                    </div>
                    <span>85%</span>
                    <p>css3</p>
                </div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-lg-3">
                <div class="card-skills">
                    <div class="circlechart" data-percentage="40"></div>
                    <div class="card-skills__progress">
                        <img src="assets/images/flutter-L.png" alt="frontendfront-L">
                    </div>
                    <span>40%</span>
                    <p>flutter</p>
                </div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-lg-3">
                <div class="card-skills">
                    <div class="circlechart position-relative" data-percentage="70"></div>
                    <div class="card-skills__progress">
                        <img src="assets/images/javascript-L.png" alt="frontendfront-L">
                    </div>
                    <span>70%</span>
                    <p>javascript</p>
                </div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-lg-3">
                <div class="card-skills">
                    <div class="circlechart position-relative" data-percentage="90"></div>
                    <div class="card-skills__progress">
                        <img src="assets/images/python-L.png" alt="frontendfront-L">
                    </div>
                    <span>90%</span>
                    <p>python</p>
                </div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-lg-3">
                <div class="card-skills">
                    <div class="circlechart position-relative" data-percentage="30"></div>
                    <div class="card-skills__progress">
                        <img src="assets/images/xamarin-L.png" alt="frontendfront-L">
                    </div>
                    <span>30%</span>
                    <p>xamarin</p>
                </div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-lg-3">
                <div class="card-skills">
                    <div class="circlechart position-relative" data-percentage="90"></div>
                    <div class="card-skills__progress">
                        <img src="assets/images/multimedia-L.png" alt="frontendfront-L">
                    </div>
                    <span>90%</span>
                    <p>multimedia</p>
                </div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-lg-3">
                <div class="card-skills">
                    <div class="circlechart position-relative" data-percentage="50"></div>
                    <div class="card-skills__progress">
                        <img src="assets/images/marketingDigital-L.png" alt="frontendfront-L">
                    </div>
                    <span>50%</span>
                    <p>marketing Digital</p>
                </div>
            </div>
        </div>
    </div>
    <div class="experience">
        <h3 class="titles">expérience & éducation</h3>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                <div class="resume-box">
                    <ul>
                        <li>
                            <div class="icon">
                                <img src="assets/icones/briefcase.svg" alt="briefcase">
                            </div>
                            <span class="item-date">2020 - present</span>
                            <h5>web developer <span>Not a Number</span></h5>
                            <p>
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod, recusandae?
                            </p>
                        </li>
                        <li>
                            <div class="icon">
                                <img src="assets/icones/briefcase.svg" alt="briefcase">
                            </div>
                            <span class="item-date">2020 - present</span>
                            <h5>web developer <span>Not a Number</span></h5>
                            <p>
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod, recusandae?
                            </p>
                        </li>
                        <li>
                            <div class="icon">
                                <img src="assets/icones/briefcase.svg" alt="briefcase">
                            </div>
                            <span class="item-date">2020 - present</span>
                            <h5>web developer <span>Not a Number</span></h5>
                            <p>
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod, recusandae?
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                <div class="resume-box">
                    <ul>
                        <li>
                            <div class="icon">
                                <img src="assets/icones/mortarboard.svg" alt="mortarboard">
                            </div>
                            <span class="item-date">2020</span>
                            <h5>certification dev junior <span>Not a Number</span></h5>
                            <p>
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod, recusandae?
                            </p>
                        </li>
                        <li>
                            <div class="icon">
                                <img src="assets/icones/mortarboard.svg" alt="mortarboard">
                            </div>
                            <span class="item-date">2020</span>
                            <h5>Ingenieur SI <span>Ihem/so</span></h5>
                            <p>
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod, recusandae?
                            </p>
                        </li>
                        <li>
                            <div class="icon">
                                <img src="assets/icones/mortarboard.svg" alt="mortarboard">
                            </div>
                            <span class="item-date">2018</span>
                            <h5>Techniticien en informatique <span>ITA group</span></h5>
                            <p>
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod, recusandae?
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>