 <!-- loader -->
 <div class="loader">
    <div class="lds-ripple">
        <div></div>
        <div></div>
    </div>
</div>
<!-- icon-menu -->
<div class="icon-menu" id="open">
    <img src="assets/icones/menu.svg" alt="menu">
</div>
<!-- sidebar responsive -->
<div class="sidebar">
    <div class="icon-menu" id="close">
        <img src="assets/icones/close.svg" alt="menu">
    </div>
    <ul>
        <li>
            <a href="index.html">
                <i class="fa fa-home" aria-hidden="true"></i>
                <span>Home</span>
            </a>
        </li>
        <li>
            <a href="about.html">
                <i class="fa fa-user" aria-hidden="true"></i>
                <span>About</span>
            </a>
        </li>
        <li class="item-active">
            <a href="portfolio.html">
                <i class="fa fa-briefcase" aria-hidden="true"></i>
                <span>Portfolio</span>
            </a>
        </li>
        <li>
            <a href="contact.html">
                <i class="fa fa-envelope-open" aria-hidden="true"></i>
                <span>conatct</span>
            </a>
        </li>
    </ul>
</div>

<!-- navabr -->
<nav class="navigation navigation--pf">
    <ul>
        <a href="index.html">
            <li>
                <i class="fa fa-home" aria-hidden="true"></i>
                <div class="toll-tips">Home</div>
            </li>
        </a>
        <a href="about.html">
            <li>
                <i class="fa fa-user" aria-hidden="true"></i>
                <div class="toll-tips">About</div>
            </li>
        </a>
        <a href="portfolio.html">
            <li>
                <i class="fa fa-briefcase" aria-hidden="true"></i>
                <div class="toll-tips">Portfolio</div>
            </li>
        </a>
        <a href="contact.html">
            <li>
                <i class="fa fa-envelope-open" aria-hidden="true"></i>
                <div class="toll-tips">Contact</div>
            </li>
        </a>
    </ul>
</nav>

<div class="container">
    <div class="portfolio">
        <div class="section-header">
            <h1 class="title-fade">Works</h1>
            <h2 class="title-section">mes <span>réalisations</span></h2>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                <a href="#">
                    <div class="card-realisation">
                        <div class="card-realisation__illustration">
                            <img src="assets/images/public_images_template1.jpg" alt="template">
                        </div>
                        <div class="card-realisation__desc">
                            <div class="item-desc">
                                <div>
                                    <i class="fa fa-file-text" aria-hidden="true"></i>
                                    <span>Projet :</span>
                                </div>
                                <h4>Template 1</h4>
                            </div>
                            <div class="item-desc">
                                <div>
                                    <i class="fa fa-code" aria-hidden="true"></i>
                                    <span>Langages :</span>
                                </div>
                                <h4>HTML, CSS, Javascript</h4>
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis autem
                                consequatur rem, eveniet quasi eaque quia explicabo alias sapiente perspiciatis
                                error facilis ullam, tenetur, veritatis vitae. In dicta commodi omnis!
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                <a href="#">
                    <div class="card-realisation">
                        <div class="card-realisation__illustration">
                            <img src="assets/images/template2.jpg" alt="template">
                        </div>
                        <div class="card-realisation__desc">
                            <div class="item-desc">
                                <div>
                                    <i class="fa fa-file-text" aria-hidden="true"></i>
                                    <span>Projet :</span>
                                </div>
                                <h4>Template 1</h4>
                            </div>
                            <div class="item-desc">
                                <div>
                                    <i class="fa fa-code" aria-hidden="true"></i>
                                    <span>Langages :</span>
                                </div>
                                <h4>HTML, CSS, Javascript</h4>
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis autem
                                consequatur rem, eveniet quasi eaque quia explicabo alias sapiente perspiciatis
                                error facilis ullam, tenetur, veritatis vitae. In dicta commodi omnis!
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                <a href="#">
                    <div class="card-realisation">
                        <div class="card-realisation__illustration">
                            <img src="assets/images/template3.jpg" alt="template">
                        </div>
                        <div class="card-realisation__desc">
                            <div class="item-desc">
                                <div>
                                    <i class="fa fa-file-text" aria-hidden="true"></i>
                                    <span>Projet :</span>
                                </div>
                                <h4>Template 1</h4>
                            </div>
                            <div class="item-desc">
                                <div>
                                    <i class="fa fa-code" aria-hidden="true"></i>
                                    <span>Langages :</span>
                                </div>
                                <h4>HTML, CSS, Javascript</h4>
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis autem
                                consequatur rem, eveniet quasi eaque quia explicabo alias sapiente perspiciatis
                                error facilis ullam, tenetur, veritatis vitae. In dicta commodi omnis!
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                <a href="#">
                    <div class="card-realisation">
                        <div class="card-realisation__illustration">
                            <img src="assets/images/template4.jpg" alt="template">
                        </div>
                        <div class="card-realisation__desc">
                            <div class="item-desc">
                                <div>
                                    <i class="fa fa-file-text" aria-hidden="true"></i>
                                    <span>Projet :</span>
                                </div>
                                <h4>Template 1</h4>
                            </div>
                            <div class="item-desc">
                                <div>
                                    <i class="fa fa-code" aria-hidden="true"></i>
                                    <span>Langages :</span>
                                </div>
                                <h4>HTML, CSS, Javascript</h4>
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis autem
                                consequatur rem, eveniet quasi eaque quia explicabo alias sapiente perspiciatis
                                error facilis ullam, tenetur, veritatis vitae. In dicta commodi omnis!
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                <a href="#">
                    <div class="card-realisation">
                        <div class="card-realisation__illustration">
                            <img src="assets/images/template5.jpg" alt="template">
                        </div>
                        <div class="card-realisation__desc">
                            <div class="item-desc">
                                <div>
                                    <i class="fa fa-file-text" aria-hidden="true"></i>
                                    <span>Projet :</span>
                                </div>
                                <h4>Template 1</h4>
                            </div>
                            <div class="item-desc">
                                <div>
                                    <i class="fa fa-code" aria-hidden="true"></i>
                                    <span>Langages :</span>
                                </div>
                                <h4>HTML, CSS, Javascript</h4>
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis autem
                                consequatur rem, eveniet quasi eaque quia explicabo alias sapiente perspiciatis
                                error facilis ullam, tenetur, veritatis vitae. In dicta commodi omnis!
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                <a href="#">
                    <div class="card-realisation">
                        <div class="card-realisation__illustration">
                            <img src="assets/images/template6.jpg" alt="template">
                        </div>
                        <div class="card-realisation__desc">
                            <div class="item-desc">
                                <div>
                                    <i class="fa fa-file-text" aria-hidden="true"></i>
                                    <span>Projet :</span>
                                </div>
                                <h4>Template 1</h4>
                            </div>
                            <div class="item-desc">
                                <div>
                                    <i class="fa fa-code" aria-hidden="true"></i>
                                    <span>Langages :</span>
                                </div>
                                <h4>HTML, CSS, Javascript</h4>
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis autem
                                consequatur rem, eveniet quasi eaque quia explicabo alias sapiente perspiciatis
                                error facilis ullam, tenetur, veritatis vitae. In dicta commodi omnis!
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>