<div class="loader">
    <div class="lds-ripple">
        <div></div>
        <div></div>
    </div>
</div>
<app-sidebar></app-sidebar>
<app-navigation></app-navigation>
<div class="container">
    <div class="contact">
        <div class="section-header">
            <h1 class="title-fade">Contact</h1>
            <h2 class="title-section">entrer en<span>contact</span></h2>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 mb-5">
                <h3>Ne soyez pas timide!</h3>
                <p>
                    N'hésitez pas à me contacter. Je suis toujours ouvert à discuter de nouveaux projets, d'idées créatives ou
                    d'opportunités de faire partie de vos visions.
                </p>
                <div class="item-contact">
                    <div class="icon">
                        <i class="fa fa-envelope-open"></i>
                    </div>
                    <div class="desc">
                        <h5>mon mail</h5>
                        <span>maelbah124@gmail.com</span>
                    </div>
                </div>
                <div class="item-contact">
                    <div class="icon">
                        <i class="fa fa-phone-square"></i>
                    </div>
                    <div class="desc">
                        <h5>mon tel</h5>
                        <span>+22578618391</span>
                    </div>
                </div>
                <div class="reseaux">
                    <a href="#">
                        <div class="icon">
                            <i class="fa fa-facebook"></i>
                        </div>
                    </a>
                    <a href="#">
                        <div class="icon">
                            <i class="fa fa-twitter"></i>
                        </div>
                    </a>
                    <a href="#">
                        <div class="icon">
                            <i class="fa fa-instagram"></i>
                        </div>
                    </a>
                    <a href="#">
                        <div class="icon">
                            <i class="fa fa-skype"></i>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                <form action="#" class="form-contact form-row">
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <input type="text" placeholder="Votre nom">
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <input type="text" placeholder="Votre email">
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <input type="text" placeholder="Sujet">
                    </div>
                    <div class="col-12">
                        <textarea placeholder="Votre message"></textarea>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>