<div class="sidebar">
    <div class="icon-menu" id="close">
        <img src="assets/icones/close.svg" alt="menu">
    </div>
    <ul>
        <li class="item-active">
            <a href="index.html">
                <i class="fa fa-home" aria-hidden="true"></i>
                <span>Home</span>
            </a>
        </li>
        <li>
            <a href="about.html">
                <i class="fa fa-user" aria-hidden="true"></i>
                <span>About</span>
            </a>
        </li>
        <li>
            <a href="portfolio.html">
                <i class="fa fa-briefcase" aria-hidden="true"></i>
                <span>Portfolio</span>
            </a>
        </li>
        <li>
            <a href="contact.html">
                <i class="fa fa-envelope-open" aria-hidden="true"></i>
                <span>conatct</span>
            </a>
        </li>
    </ul>
</div>