<nav class="navigation navigation navigation--pf">
    <ul>
        <a href="#">
            <li>
                <i class="fa fa-home" aria-hidden="true"></i>
                <div class="toll-tips">Home</div>
            </li>
        </a>
        <a href="about.html">
            <li>
                <i class="fa fa-user" aria-hidden="true"></i>
                <div class="toll-tips">About</div>
            </li>
        </a>
        <a href="portfolio.html">
            <li>
                <i class="fa fa-briefcase" aria-hidden="true"></i>
                <div class="toll-tips">Portfolio</div>
            </li>
        </a>
        <a href="contact.html">
            <li>
                <i class="fa fa-envelope-open" aria-hidden="true"></i>
                <div class="toll-tips">Contact</div>
            </li>
        </a>
    </ul>
</nav>
