<div class="loader">
        <div class="lds-ripple">
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- icon-menu -->
    <div class="icon-menu" id="open">
        <img src="assets/icones/menu.svg" alt="menu">
    </div>
    <!-- sidebar responsive -->
    
    <app-sidebar>
    </app-sidebar>

    <!-- content home -->
    <div class="home">
        <div class="container-fluid">
            <div class="home-content">
                <div class="photo-dev">
                    <img src="assets/images/dev.jpg" alt="img">
                </div>
                <div class="box-text">
                    <h3>Salut !</h3>
                    <h1>je suis <span>Bah Ismaila</span></h1>
                    <p>
                        Je suis un concepteur Web et un développeur front-end basé en Cote d'Ivoire, axé sur la création d'expériences
                        propres et
                        conviviales, je suis passionné par la création d'excellents logiciels qui améliorent la vie de ceux qui
                        m'entourent.
                    </p>
                    <a href="about.html" class="button mr-2 mb-3"> A propos de moi</a>
                    <a href="pdf/Charte_bonne_conduite.pdf" target="_blank" class="button button--cv">télécharger mon cv</a>
                </div>

                <!-- navbar -->
                <app-navigation></app-navigation>
            </div>
        </div>
    </div>

   